.st-line-home-top {
    float: left;
    width: 1200px
}

.st-line-dh {
    float: left;
    width: 332px;
    position: relative;
    background: #f5f5f5
}

.st-line-dh .st-dh-tit {
    float: left;
    color: #fff;
    width: 286px;
    height: 40px;
    line-height: 40px;
    padding-left: 46px;
    font-size: 18px;
    background: url(../front_img/st-line-ico-1.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/st-line-ico.png*/ no-repeat 20px -68px #00b7ee
}

.st-line-dh .st-dh-con {
    float: left;
    width: 332px
}

.st-line-dh .st-dh-con
h3 {
    float: left;
    width: 310px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 9999;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6
}

.st-line-dh .st-dh-con
h3.bor_0 {
    border-bottom: 1px solid #e6e6e6
}

.st-line-dh .st-dh-con h3.bor_0
p {
    border-bottom: 0
}

.st-line-dh .st-dh-con
h3.hover {
    z-index: 999999;
    margin-top: -1px;
    border-top: 1px solid #00b7ee;
    border-bottom: 1px solid #00b7ee;
    border-right: 1px solid #fff;
    border-left: 1px solid #00b7ee;
    background: #fff
}

.st-line-dh .st-dh-con h3.hover
p {
    border-bottom: 0
}

.st-line-dh .st-dh-con h3
strong {
    float: left;
    width: 310px;
    height: 30px;
    line-height: 30px;
    font-size: 14px
}

.st-line-dh .st-dh-con h3
p {
    float: left;
    width: 310px;
    height: 20px;
    overflow: hidden
}

.st-line-dh .st-dh-con h3
a {
    float: left;
    color: #666;
    height: 20px;
    line-height: 20px;
    margin-right: 15px
}

.st-line-dh .st-dh-con h3 a:hover {
    color: #fc6000
}

.st-line-dh .st-dh-con .st-dh-item {
    display: none;
    position: absolute;
    left: 331px;
    top: 0;
    z-index: 99999;
    width: 827px;
    min-height: 326px;
    padding: 10px 20px;
    border: 1px solid #00b7ee;
    background: #fff
}

.st-dh-item
dl {
    float: left;
    width: 373px;
    margin: 10px 20px
}

.st-dh-item dl dt,
.st-dh-item dl
dd {
    float: left;
    width: 373px
}

.st-dh-item dl
dt {
    border-bottom: 1px solid #e5e5e5
}

.st-dh-item dl dt
a {
    color: #333;
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 14px
}

.st-dh-item dl
dd {
    margin-top: 5px
}

.st-dh-item dl dd
a {
    float: left;
    color: #666;
    height: 24px;
    line-height: 24px;
    margin-right: 15px
}

.st-dh-item dl dt a:hover,
.st-dh-item dl dd a:hover {
    color: #fc6000;
    text-decoration: underline
}

.st-line-slideBox {
    float: right;
    width: 858px;
    height: 324px;
    overflow: hidden;
    position: relative
}

.st-line-slideBox
.hd {
    width: 100%;
    height: 13px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 1;
    text-align: center
}

.st-line-slideBox .hd
ul {
    overflow: hidden;
    zoom: 1
}

.st-line-slideBox .hd ul
li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 2px;
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    background: #fff;
    font-size: 0;
    vertical-align: top;
    cursor: pointer;
    border-radius: 50%
}

.st-line-slideBox .hd ul
li.on {
    background: #ccc;
    color: #fff
}

.st-line-slideBox
.bd {
    position: relative;
    height: 100%;
    z-index: 0
}

.st-line-slideBox .bd
li {
    zoom: 1;
    vertical-align: middle
}

.st-line-slideBox .bd li
a {
    display: table-cell;
    width: 858px;
    height: 324px;
    vertical-align: middle;
    text-align: center
}

.st-line-slideBox .bd
img {
    vertical-align: middle
}

.st-line-slideBox .prev,
.st-line-slideBox
.next {
    position: absolute;
    left: 1%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../front_img/slider-arrow.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/slider-arrow.png*/ -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5
}

.st-line-slideBox
.next {
    left: auto;
    right: 1%;
    background-position: 8px 5px
}

.st-line-slideBox .prev:hover,
.st-line-slideBox .next:hover {
    filter: alpha(opacity=100);
    opacity: 1
}

.st-line-slideBox
.prevStop {
    display: none
}

.st-line-slideBox
.nextStop {
    display: none
}

.st-line-home-lsit {
    float: left;
    width: 1200px
}

.st-cp-slideTab {
    float: left;
    width: 1200px;
    margin-top: 20px
}

.st-cp-slideTab .st-tabnav {
    float: left;
    width: 1200px;
    height: 40px;
    border-bottom: 1px solid #ccc
}

.st-cp-slideTab .st-tabnav
h3 {
    float: left;
    color: #00b7ee;
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    font-size: 18px;
    font-weight: bold
}

.st-cp-slideTab .st-tabnav
span {
    float: left;
    color: #333;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
    position: relative
}

.st-cp-slideTab .st-tabnav
span.on {
    color: #00b7ee;
    height: 39px;
    line-height: 40px;
    border-bottom: 3px solid #00b7ee
}

.st-cp-slideTab .st-tabnav span.on
i {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-bottom: 4px solid #00b7ee;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent
}

.st-cp-slideTab .st-tabnav
a.more {
    color: #333;
    float: right;
    height: 40px;
    line-height: 40px;
    padding-left: 17px;
    background: url(../front_img/index-ico-1.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/index-ico.png*/ no-repeat 0 15px
}

.st-cp-slideTab .st-tabnav a:hover.more {
    color: #f80;
    background: url(../front_img/st-hover-ico-1.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/st-hover-ico.png*/ no-repeat 0 15px
}

.st-cp-slideTab .st-tabcon {
    float: left;
    width: 915px
}

.st-cp-list li,
.pic-line-list
li {
    float: left;
    width: 285px;
    margin: 20px 0 0 20px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #e5e5e5;
    background: #fff
}

.st-cp-list li:hover,
.pic-line-list li:hover {
    box-shadow: 1px 3px 3px #999
}

.st-cp-list li .pic,
.pic-line-list li
.pic {
    width: 285px;
    height: 194px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative
}

.st-cp-list li .pic > img,
.pic-line-list li .pic > img {
    max-width: 285px;
    max-height: 194px;
    vertical-align: middle
}

.st-cp-list li .pic .buy,
.pic-line-list li .pic
.buy {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 279px;
    height: 188px;
    border: 3px solid #fff;
    background: url(../front_img/st-opt-bg.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/st-opt-bg.png*/ repeat
}

.st-cp-list li:hover .pic .buy,
.pic-line-list li:hover .pic
.buy {
    display: block
}

.st-cp-list li .pic .buy a,
.pic-line-list li .pic .buy
a {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -73px;
    display: block;
    color: #fff;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    border: 3px solid #fff;
    border-radius: 30px
}

.st-cp-list li .js,
.pic-line-list li
.js {
    float: left;
    width: 265px;
    padding: 0 10px
}

.st-cp-list li .js a.tit,
.pic-line-list li .js
a.tit {
    float: left;
    color: #333;
    width: 265px;
    height: 36px;
    line-height: 18px;
    margin: 5px 0 5px;
    overflow: hidden;
    font-size: 14px
}

.st-cp-list li .js a.tit:hover,
.pic-line-list li .js a.tit:hover {
    color: #fc6000;
    text-decoration: underline
}

.st-cp-list li .js p,
.pic-line-list li .js
p {
    float: left;
    width: 265px;
    padding-top: 5px
}

.st-cp-list li .js p.attr,
.pic-line-list li .js
p.attr {
    height: 16px;
    overflow: hidden
}

.st-cp-list li .js p.attr img,
.pic-line-list li .js p.attr
img {
    float: left;
    margin-right: 5px
}

.st-cp-list li .js p.num,
.pic-line-list li .js
p.num {
    padding-bottom: 5px
}

.st-cp-list li .js p.num del,
.pic-line-list li .js p.num
del {
    color: #999;
    float: left;
    height: 24px;
    line-height: 24px
}

.st-car-list li .js p.num del,
.pic-line-list li .js p.num
del {
    text-decoration: none
}

.st-cp-list li .js p.num span,
.pic-line-list li .js p.num
span {
    float: right;
    color: #fc6000;
    height: 24px;
    line-height: 24px
}

.st-cp-list li .js p.num span b,
.pic-line-list li .js p.num span
b {
    padding-right: 3px;
    font-size: 18px;
    font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif
}

.st-line-slidemenu {
    float: left;
    width: 285px;
    height: 610px;
    margin-top: 20px;
    border-radius: 3px;
    position: relative
}

.slidemenu-list,
.slidemenu-list
dl {
    float: left;
    width: 285px;
    position: relative;
    z-index: 99
}

.slidemenu-list dl
dt {
    float: left;
    width: 285px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    background: url(../front_img/slidemenu-bt-bg.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/slidemenu-bt-bg.png*/ center no-repeat
}

.slidemenu-list dl
dd {
    float: left;
    width: 265px;
    padding: 0 10px
}

.slidemenu-list dl dd
a {
    float: left;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px 10px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    background: #fff
}

.slidemenu-list dl dd a:hover {
    color: #00b7ee;
    border: 1px solid #00b7ee
}

.st-line-slidemenu .slidemenu-adbg {
    width: 285px;
    height: 610px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    overflow: hidden
}

.st-line-slidemenu .slidemenu-adbg > a {
    display: table-cell;
    width: 285px;
    height: 610px;
    vertical-align: middle;
    text-align: center
}

.st-line-slidemenu .slidemenu-adbg > a > img {
    vertical-align: middle
}

.st-list-sd {
    float: left;
    width: 1200px;
    max-height: 110px;
    margin-top: 20px;
    overflow: hidden
}

.st-linelist-box {
    float: left;
    width: 905px
}

.st-line-brief {
    float: left;
    color: #666;
    width: 863px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    background: #f5f5f5
}

.st-line-brief .dest-tit {
    color: #00b7ee;
    float: left;
    width: 863px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold
}

.st-line-icon {
    color: #0088d0;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0
}

.st-line-icon:before {
    display: inline-block;
    font-family: "st-iconfont" !important;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale
}

.line-mdd-icon:before {
    content: "\e60b"
}

.st-line-brief .brief-con {
    float: left;
    width: 863px;
    line-height: 20px
}

.st-line-brief .brief-con
p {
    margin-top: 10px
}

.st-line-brief .brief-con strong,
.st-line-brief .brief-con
b {
    font-weight: bold !important
}

.st-line-brief .brief-con em,
.st-line-brief .brief-con
i {
    font-style: italic !important
}

.st-line-brief .brief-con
a {
    color: #0082dd
}

.st-line-brief .brief-con a:hover {
    color: #ff8a00;
    text-decoration: underline
}

.st-linelist-con {
    float: left;
    width: 905px
}

.txt-line-list,
.pic-line-list,
.txt-line-list ul,
.pic-line-list
ul {
    float: left;
    width: 905px
}

.txt-line-list ul
li {
    float: left;
    width: 893px;
    padding: 5px;
    margin-top: 15px;
    position: relative;
    border: 1px solid #d8d8d8;
    border-radius: 3px
}

.txt-line-list ul li .hot-ico {
    position: absolute;
    top: -5px;
    left: -5px;
    display: block;
    width: 67px;
    height: 65px;
    background: url(../front_img/st-line-ico-1.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/st-line-ico.png*/ no-repeat 0 -310px
}

.txt-line-list ul li .pic,
.txt-line-list ul li .pic
a {
    width: 265px;
    height: 180px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden
}

.txt-line-list ul li
.pic {
    float: left
}

.txt-line-list ul li .pic a
img {
    max-width: 265px;
    max-height: 180px;
    vertical-align: middle
}

.txt-line-list ul li
.txt {
    float: left;
    width: 430px;
    margin-left: 30px
}

.txt-line-list ul li .txt
p {
    float: left;
    width: 430px;
    margin-top: 10px
}

.txt-line-list ul li .txt .bt
a {
    float: left;
    color: #333;
    max-height: 44px;
    line-height: 22px;
    overflow: hidden;
    font-size: 14px
}

.txt-line-list ul li .txt .bt a:hover {
    color: #f80
}

.txt-line-list ul li .txt .bt a
img {
    vertical-align: middle;
    margin: -2px 0 0 5px
}

.txt-line-list ul li .txt .data
span {
    float: left;
    color: #7d7d7d;
    height: 24px;
    line-height: 24px
}

.txt-line-list ul li .txt .data
s {
    float: left;
    color: #7d7d7d;
    height: 24px;
    line-height: 22px;
    margin: 0 15px;
    text-decoration: none
}

.txt-line-list ul li
.ts {
    color: #333;
    height: 40px;
    line-height: 20px;
    overflow: hidden
}

.txt-line-list ul li .msg
span {
    float: left;
    color: #333;
    height: 24px;
    line-height: 24px;
    margin-right: 20px
}

.txt-line-list ul li
.booking {
    float: right;
    width: 150px;
    height: 180px;
    position: relative
}

.txt-line-list ul li .booking
.yh {
    float: left;
    color: #f60;
    width: 150px;
    margin-top: 20px;
    text-align: center
}

.txt-line-list ul li .booking .yh
b {
    padding: 0 2px;
    font-size: 22px;
    font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif;
    font-weight: 500
}

.txt-line-list ul li .booking
.yj {
    color: #999;
    float: left;
    width: 150px;
    text-align: center
}

.txt-line-list ul li .booking
a {
    position: absolute;
    left: 50%;
    bottom: 40px;
    color: #fff;
    display: block;
    width: 86px;
    height: 25px;
    line-height: 25px;
    margin-left: -43px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    background: #f60
}

.pic-line-list
li {
    margin: 25px 25px 0 0
}

.pic-line-list
li.mr_0 {
    margin-right: 0
}

.st-line-show {
    float: left;
    width: 905px
}

.lineshow-tw {
    float: left;
    width: 869px;
    padding: 15px;
    border: 3px solid #d8d8d8
}

.lw-title {
    float: left;
    width: 869px;
    position: relative
}

.lw-title .print-btn {
    position: absolute;
    right: 0;
    top: 3px;
    display: block;
    width: 77px;
    height: 23px;
    font-size: 0;
    background: url(../front_img/print-btn.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/print-btn.png*/ left no-repeat
}

.lw-title .print-btn:hover {
    background: url(../front_img/st-hover-ico-1.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/st-hover-ico.png*/ no-repeat 0 -201px
}

.lw-title
h1 {
    color: #333;
    width: 760px;
    font-size: 22px
}

.lw-title h1
img {
    vertical-align: middle;
    margin-left: 5px
}

.lw-title .sp-tip {
    line-height: 20px;
    padding-top: 10px
}

.lw-title .sp-tip
.num {
    color: #f80;
    padding-right: 20px;
    font-size: 12px
}

.focus-slide {
    float: left;
    width: 460px;
    margin-top: 15px
}

.imgnav {
    position: relative;
    margin: 0 auto;
    width: 460px
}

#img {
    z-index: 10;
    width: 460px;
    height: 312px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center
}

#img
img {
    display: none;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle
}

#front {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    width: 230px;
    height: 312px;
    background: url(../front_img/blank-1.gif) /*tpa=http://www.zzaly.com/plugins/line/public/images/blank.gif*/
}

#front
a {
    position: absolute;
    left: 10px;
    top: 127px;
    background: url(../front_img/imgSlideLeft.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/imgSlideLeft.png*/ no-repeat;
    width: 29px;
    height: 71px;
    display: none
}

#next {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    width: 230px;
    height: 312px;
    background: url(blank-1.gif) /*tpa=http://www.zzaly.com/plugins/line/public/images/blank.gif*/
}

#next
a {
    position: absolute;
    right: 10px;
    top: 127px;
    background: url(../front_img/imgSlideRight.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/imgSlideRight.png*/ no-repeat;
    width: 29px;
    height: 71px;
    display: none
}

#cbtn {
    background: #fff;
    position: relative;
    height: 72px;
    margin-top: 5px
}

#cbtn
ul {
    position: relative;
    width: 10000px;
    height: 72px
}

#cbtn ul
li {
    float: left;
    padding: 8px 3px 3px 3px;
    width: 90px;
    height: 61px;
    cursor: pointer;
    text-align: center;
    margin-right: 6px;
    position: relative
}

#cbtn ul li
img {
    width: 90px;
    height: 61px;
    display: block
}

#cbtn
li.hov {
    background: url(../front_img/imgHoverBg.gif) /*tpa=http://www.zzaly.com/plugins/line/public/images/imgHoverBg.gif*/ no-repeat
}

.ctrl
div {
    clear: both
}

#cSlideUl {
    width: 402px;
    height: 72px;
    overflow: hidden;
    position: relative;
    top: 0;
    margin: 0 auto
}

.picSildeLeft {
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 9
}

.picSildeRight {
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 9
}

.cp-show-msg {
    float: right;
    width: 394px;
    margin-top: 15px
}

.cp-show-msg .jg,
.cp-show-msg
.sl {
    float: left;
    width: 394px;
    margin-bottom: 10px
}

.cp-show-msg .jg
span {
    color: #fc6000;
    font-size: 14px
}

.cp-show-msg .jg span
b {
    font-size: 26px;
    font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif;
    font-weight: 500
}

.cp-show-msg .jg
del {
    color: #999;
    margin-left: 30px
}

.cp-show-msg .sl
span {
    color: #7d7d7d;
    vertical-align: middle
}

.cp-show-msg .sl
s {
    color: #7d7d7d;
    margin: 0 20px;
    text-decoration: none
}

.cp-show-msg
.tc {
    float: left;
    width: 392px;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #fc6000;
    background: #fff4e4
}

.cp-show-msg .tc
dt {
    float: left;
    color: #333;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: right
}

.cp-show-msg .tc
dd {
    float: right;
    width: 322px
}

.cp-show-msg .tc dd.type
a {
    float: left;
    max-width: 273px;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    margin: 0 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #333;
    background: #fff
}

.cp-show-msg .tc dd.type a:hover,
.cp-show-msg .tc dd.type
a.on {
    border: 1px solid #f60;
    background: url(../front_img/lin-type-ico.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/lin-type-ico.png*/ no-repeat right bottom #fff
}

.cp-show-msg .tc dd.select-bj {
    width: 392px;
    margin-bottom: 10px
}

.cp-show-msg .tc dd.select-bj
span {
    float: left;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: right
}

.cp-show-msg .tc dd.select-bj .bj-list {
    width: 305px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    font-size: 12px;
    border: 1px solid #b8b8b8
}

.cp-show-msg .tc dd.yd-btn
a {
    float: left;
    color: #fff;
    width: 120px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    margin-left: 5px;
    text-align: center;
    border-radius: 3px;
    background: #ff8a00
}

.cp-show-msg .tc dd.yd-btn a:hover {
    background: #f60
}

.cp-show-msg .msg-ul {
    float: left;
    width: 394px
}

.cp-show-msg .msg-ul
li {
    float: left;
    width: 394px;
    font-size: 14px
}

.cp-show-msg .msg-ul
li.mb_0 {
    margin-bottom: 0
}

.cp-show-msg .msg-ul li .item-hd {
    float: left;
    width: 74px;
    height: 30px;
    line-height: 30px
}

.cp-show-msg .msg-ul li .item-bd {
    min-height: 30px;
    line-height: 30px;
    padding-left: 74px;
    font-size: 14px
}

.jf-type-wrap {
    display: inline-block;
    height: 19px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    cursor: pointer
}

.jf-type-wrap
.num {
    display: inline-block;
    color: #ff9b3a;
    height: 19px;
    line-height: 19px;
    padding-left: 24px;
    vertical-align: top;
    font-size: 12px
}

.jf-type-wrap
.di {
    background: url("../front_img/ls-icobg-1.png") /*tpa=http://www.zzaly.com/plugins/line/public/images/ls-icobg.png*/ no-repeat 0 -269px
}

.jf-type-wrap
.ding {
    background: url("../front_img/ls-icobg-1.png") /*tpa=http://www.zzaly.com/plugins/line/public/images/ls-icobg.png*/ no-repeat 0 -307px
}

.jf-type-wrap
.ping {
    background: url("../front_img/ls-icobg-1.png") /*tpa=http://www.zzaly.com/plugins/line/public/images/ls-icobg.png*/ no-repeat 0 -383px
}

.jf-type-wrap .num
i {
    float: right;
    width: 5px;
    height: 19px;
    background: url("../front_img/ls-icobg-1.png") /*tpa=http://www.zzaly.com/plugins/line/public/images/ls-icobg.png*/ no-repeat right -288px
}

.jf-type-wrap
.info {
    display: none;
    width: 186px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    padding: 5px 8px;
    margin-left: -102px;
    border: 1px solid #ccc;
    font-size: 12px;
    background: #fff
}

.jf-type-wrap .info
.tit {
    display: block;
    height: 24px;
    line-height: 24px;
    font-weight: bold
}

.jf-type-wrap .info
.txt {
    color: #666;
    display: block;
    line-height: 18px;
    margin-top: 2px
}

.jf-type-wrap .info .txt:after {
    content: "";
    display: block;
    width: 16px;
    height: 8px;
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -8px;
    background: url("../front_img/ls-icobg-1.png") /*tpa=http://www.zzaly.com/plugins/line/public/images/ls-icobg.png*/ no-repeat right 0
}

.cp-show-msg .msg-ul li .item-bd .pay-type {
    float: left;
    margin: 5px 5px 0 0
}

.lineshow-con {
    float: left;
    width: 905px;
    margin-top: 15px
}

.tab-fix-bar {
    height: 42px
}

.lineshow-con .tabnav-list {
    float: left;
    width: 905px;
    border-bottom: 2px solid #00b7ee;
    background: #f8f8f8
}

.lineshow-con .tabnav-list
span {
    color: #666;
    float: left;
    height: 39px;
    line-height: 39px;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: -1px;
    border: 1px solid #eee;
    border-bottom: 0
}

.lineshow-con .tabnav-list
span.on {
    color: #fff;
    height: 40px;
    line-height: 39px;
    border: 0;
    background: #00b7ee
}

.lineshow-con .tabnav-list a.yd-btn {
    float: right;
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 5px 5px 0 0;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    background: #ff8a00
}

.lineshow-con .tabnav-list a.yd-btn:hover {
    background: #f60
}

.fxd {
    position: fixed;
    top: 0;
    z-index: 999
}

.tabbox-list {
    float: left;
    width: 863px;
    padding: 0 20px 15px;
    border: 1px solid #d8d8d8;
    border-top: 0
}

.tabcon-list {
    float: left;
    width: 863px;
    margin-top: 20px
}

.tabcon-list .list-tit {
    float: left;
    width: 863px;
    border-bottom: 1px solid #d8d8d8
}

.tabcon-list .list-tit
strong {
    float: left;
    color: #000;
    height: 34px;
    line-height: 34px;
    font-size: 16px
}

.tabcon-list .list-txt {
    float: left;
    color: #000;
    width: 833px;
    line-height: 24px;
    padding: 10px 15px 0;
    overflow: hidden
}

.tabcon-list .list-txt
strong {
    font-weight: bold !important
}

.tabcon-list .list-txt i,
.tabcon-list .list-txt
em {
    font-style: italic !important
}

.tabcon-list .list-txt
a {
    color: #0082dd
}

.tabcon-list .list-txt a:hover {
    color: #ff8a00;
    text-decoration: underline
}

.down-appendix {
    color: #3db6f3;
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 16px;
    font-size: 14px;
    background: url("../front_img/appendix-ico.png") /*tpa=http://www.zzaly.com/plugins/line/public/images/appendix-ico.png*/ left center no-repeat
}

.down-appendix:hover {
    text-decoration: underline
}

.eachday {
    float: left;
    width: 863px;
    margin: 20px 0 10px;
    position: relative
}

.eachday
.end {
    position: absolute;
    left: 18px;
    bottom: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #00b7ee
}

.eachday .day-con {
    float: left;
    width: 811px;
    padding: 0 0 20px 30px;
    margin-left: 20px;
    position: relative;
    border-left: 2px solid #eaeaea
}

.eachday .day-num {
    position: absolute;
    left: -23px;
    top: -5px;
    color: #fff;
    width: 44px;
    height: 49px;
    text-align: center
}

.eachday .day-num:before {
    color: #00b7ee;
    content: "\e635";
    display: inline-block;
    vertical-align: middle;
    font-family: "st-iconfont" !important;
    font-style: normal;
    font-size: 44px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale
}

.eachday .day-num
.sz {
    display: block;
    width: 44px;
    height: 49px;
    line-height: 64px;
    position: absolute;
    left: 0;
    top: 0;
    font-style: normal
}

.eachday .day-tit {
    float: left;
    width: 811px;
    min-height: 40px;
    margin-bottom: 5px;
    font-size: 14px;
    border-bottom: 1px solid #d8d8d8
}

.eachday .day-tit
strong {
    color: #0082dd;
    float: left;
    width: 95px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold
}

.eachday .day-tit
p {
    float: left;
    width: 701px;
    min-height: 20px;
    line-height: 20px;
    margin-top: 10px;
    font-size: 14px
}

.eachday .day-tb {
    float: left;
    width: 811px
}

.eachday .day-tb th,
.eachday .day-tb
td {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #d8d8d8
}

.eachday .day-tb .bor_0 th,
.eachday .day-tb .bor_0
td {
    border-bottom: 0
}

.eachday .day-tb th
span {
    float: left;
    color: #0082dd;
    width: 110px;
    height: 34px;
    line-height: 34px;
    font-weight: bold
}

.eachday .day-tb th span:before {
    color: #00b7ee;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 2px 0 10px;
    font-family: "st-iconfont" !important;
    font-style: normal;
    font-size: 24px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale
}

.eachday .day-tb th .yc:before {
    content: "\e632"
}

.eachday .day-tb th .zs:before {
    content: "\e633"
}

.eachday .day-tb th .gj:before {
    content: "\e62f"
}

.eachday
.txt {
    color: #000;
    float: left;
    width: 791px;
    line-height: 24px;
    padding: 10px;
    overflow: hidden
}

.eachday .txt
strong {
    font-weight: bold !important
}

.eachday .txt i,
.eachday .txt
em {
    font-style: italic !important
}

.eachday .txt
a {
    color: #0082dd
}

.eachday .txt a:hover {
    color: #ff8a00;
    text-decoration: underline
}

.eachday .txt
img {
    max-width: 100%
}

.eachday .jd-lsit {
    float: left;
    width: 811px
}

.eachday .jd-lsit
li {
    float: left;
    width: 240px;
    margin: 0 30px 0 10px
}

.eachday .jd-lsit
li.mr_0 {
    margin-right: 0
}

.eachday .jd-lsit li
.pic {
    display: table-cell;
    width: 240px;
    height: 162px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    border-radius: 3px
}

.eachday .jd-lsit li .pic
img {
    max-width: 240px;
    max-height: 162px;
    vertical-align: middle
}

.eachday .jd-lsit li
.tit {
    float: left;
    width: 240px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.eachday .jd-lsit li a:hover {
    color: #f60;
    text-decoration: underline
}

.day-leftnav {
    display: none;
    width: 40px;
    position: fixed;
    top: 100px;
    right: 50%;
    margin-right: 610px
}

.day-leftnav .day-navlist {
    width: 40px
}

.day-leftnav .day-navlist
li {
    height: 40px;
    margin-bottom: 10px
}

.day-leftnav .day-navlist li
a {
    display: block;
    color: #999;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    transition: all .3s;
    background: #eaeaea
}

.day-leftnav .day-navlist li
a.cur {
    color: #fff;
    background: #00b7ee
}

.s-jf, .p-jf, .d-jf {
    float: left;
    color: #ff9b3a;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    padding-left: 24px;
    margin-right: 10px;
    background: url(../front_img/ls-icobg-1.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/ls-icobg.png*/ no-repeat
}

.s-jf {
    background-position: 0 -307px
}

.p-jf {
    background-position: 0 -383px
}

.d-jf {
    background-position: 0 -269px
}

.s-jf i,
.p-jf i,
.d-jf
i {
    float: right;
    width: 5px;
    height: 19px;
    background: url(../front_img/ls-icobg-1.png) /*tpa=http://www.zzaly.com/plugins/line/public/images/ls-icobg.png*/ no-repeat -123px -288px
}