<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list.html</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3"/>
    <meta name="description" content="this is my page"/>
    <meta name="content-type" content="text/html; charset=UTF-8"/>

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>
  
  <body>
    <form method="post" action="../users/login">
    	用户名：<input name="uname"/><br/>
    	密码：<input name="pwd"/><br/>
    	<input type="submit" value="登录"/><a href="jsp/add.jsp">注册</a>    	
    </form>
  </body>
</html>
