<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head ul_float="zfmm-j">
    <meta charset="utf-8"/>
    <title>会员注册-中州爱旅游</title>
    <link type="text/css" th:href="@{/static/front_css/-f=-res-css-user.css,-res-css-base.css,-res-css-extend.css}" rel="stylesheet"/>
    <script type="text/javascript"
            th:src="@{/static/front_js/-f=-res-js-jquery.min.js,-res-js-base.js,-res-js-common.js,-res-js-jquery.validate.js,-res-js-jquery.cookie.js}"></script>
</head>
<body>
<link type="text/css" th:href="@{/static/front_css/-f=-usertpl-cl_st15578_m189_header-css-header.css}"
      rel="stylesheet"/>
<script type="text/javascript" th:src="@{/static/front_js/-f=-res-js-SuperSlide.min.js}"></script>
<!-- 顶部介绍开始 -->
<div class="header-content">
    <div class="wm-1200">
        <div class="public-txt"><p><span
                style="font-family: 宋体, SimSun; font-size: 12px; color: rgb(192, 0, 0);"><strong>河南中州国际旅行</strong><strong>​</strong><strong>社有限公司，为您提供最专业的旅游服务，因为专注，所以专业。热线电话 18603838974</strong></span>
        </p></div>
        <div class="dh fr"><span id="loginstatus"> </span> <a class="fl" rel="nofollow"
                                                              href="javascript:if(confirm(%27http://www.zzaly.com/search/order  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/search/order%27"
                                                              target="_blank">订单查询</a> <a class="fl" rel="nofollow"
                                                                                          href="javascript:if(confirm(%27http://www.zzaly.com/servers/index_1.html  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/servers/index_1.html%27"
                                                                                          target="_blank">联系我们</a>
            <div class="top_web_map bor_bag fl">
                <dl class="dh"><a class="web_nav_ico" href="javascript:;"><s></s>网站导航</a>
                    <div class="w_nav_map"><a href="index.htm" tppabs="http://www.zzaly.com/lines/"
                                              target="_blank">线路</a> <a
                            href="javascript:if(confirm(%27http://www.zzaly.com/tuan/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/tuan/%27"
                            tppabs="http://www.zzaly.com/tuan/" target="_blank">团购</a> <a
                            href="javascript:if(confirm(%27http://www.zzaly.com/customize/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/customize/%27"
                            tppabs="http://www.zzaly.com/customize/" target="_blank">私人定制</a> <a
                            href="nazhoubianyou1.htm" tppabs="http://www.zzaly.com/lines/nazhoubianyou1"
                            target="_blank">河南地接</a> <a
                            href="javascript:if(confirm(%27http://www.zzaly.com/visa/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/visa/%27"
                            tppabs="http://www.zzaly.com/visa/" target="_blank">签证</a> <a href="" target="_blank">毕业季，一起去撒欢</a>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
<!-- 顶部介绍结束 --> <!-- logo and search开始 -->
<div class="big">
    <div class="wm-1200">
        <div class="top_mt">
            <div class="logo"><a
                    href="javascript:void(0)"><img src="../../../static/front_img/6f904fff78610d2318afc112e673db28_298x85.png"
                                                   alt="中州爱旅游--河南中州国际旅行社"/></a></div>
            <div class="all_search">
                <div class="top_search"><input type="text" id="st-top-search" class="s_txt g_search searchkeyword"
                                               placeholder="输入目的地、酒店、攻略"/> <input
                        class="s_btn cloud_search st-btn" type="button" name="" value=""/>
                    <div class="searcg_hot"><span>热门搜索：</span> <a
                            href="javascript:void(0)" target="_blank">云南</a>
                        <a href="javascript:void(0)" target="_blank">西安</a>
                        <a href="javascript:void(0)"
                           target="_blank">普吉岛</a></div>
                </div>
                <div class="h_phone_num"><span>24小时客服电话：</span>
                    <p>18603838974</p></div>
            </div>
        </div>
    </div>
</div>
<!-- logo and search结束 --> <!-- 导航开始 -->
<div class="nav">
    <div class="menu">
        <div class="global_nav">
            <div class="global_tit">旅游导航</div>
            <div class="global_box">
                <div class="global_list">
                    <div class="tit_bt"><h3><a href=" " target="_blank">当季热卖<i></i></a></h3> <span>   <a
                            href="javascript:void(0)"
                            target="_blank"><span style='color:#FF6600'>呼伦贝尔</span></a>  <a
                            href="javascript:void(0)"
                            target="_blank"><span style='color:#FF6600'>鼓浪屿</span></a></span></div>
                    <div class="itme">
                        <dl>
                            <dt>
                                <a href="javascript:void(0)"
                                   target="_blank"><span style='color:#FF6600'>呼伦贝尔</span></a></dt>
                            <dd></dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="javascript:void(0)"
                                   target="_blank"><span style='color:#FF6600'>鼓浪屿</span></a></dt>
                            <dd></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_nav_list">
            <ul>
                <li>
                    <a href="users/tologin">首页</a></li>
                <li><a href="users/tologin"> 线路 <i class="st-hot-ico"></i><s></s> <i
                        class="st-arrow-ico"></i> </a></li>
                <li>
                    <a href="javascript:void(0)"> 团购 <i class="st-jian-ico"></i><s></s> </a></li>
                <li>
                    <a href="javascript:void(0)"> 私人定制 </a></li>
                <li><a href="nazhoubianyou1.htm" tppabs="http://www.zzaly.com/lines/nazhoubianyou1"> 河南地接 <i
                        class="st-jing-ico"></i><s></s> <i class="st-arrow-ico"></i> </a></li>
                <li>
                    <a href="javascript:void(0)"> 签证 <i class="st-hot-ico"></i><s></s> <i
                            class="st-arrow-ico"></i> </a></li>
                <li><a href=""> 毕业季，一起去撒欢 <i class="st-hot-ico"></i><s></s> </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="st-userlogin-box"
     style="background: url('../../../static/front_img/login.jpg')/*tpa=http://www.zzaly.com/uploads/background_img/login.jpg*/ center top no-repeat;">
    <div class="st-login-wp">
        <div class="st-reg-box">
            <div class="reg-tabnav"><span class="on" data-type="phone">手机注册</span> <i></i> <span
                    data-type="email">邮箱注册</span></div>
            <script>
                $(function () {
                    $('.reg-tabnav span').click(function () {
                        $(this).addClass('on').siblings().removeClass('on');
                        var frm = $(this).attr('data-type');
                        $(".reg-cont-box").find('ul').hide();
                        $('#' + frm + '_reg').show();
                        $('#regfrm').val(frm + 'frm');
                    })
                })
            </script>
            <div class="reg-cont-box">
                <form id="phonefrm" method="post" action="http://www.zzaly.com/member/register/doreg">
                    <ul id="phone_reg">
                        <li><span class="bt-sp">登录帐号</span> <input type="text" class="reg-text w230" id="mobile"
                                                                   name="mobile" placeholder="请输入手机号"/> <span
                                class="msg_contain"></span></li>
                        <li><span class="bt-sp">验证码</span> <input type="text" class="reg-text w105" id="p_checkcode"
                                                                  name="p_checkcode"/> <span class="reg-yzm"><img
                                src="../../../static/front_img/captcha.png" tppabs="http://www.zzaly.com/captcha" width="114" height="31"
                                onClick="this.src=this.src+'?math='+ Math.random()"/></span> <span class="reg-change"><a
                                href="javascript:;">换一张</a></span> <span class="msg_contain"></span></li>
                        <li><span class="bt-sp">动态密码</span> <input type="text" class="reg-text w105" id="msgcode"
                                                                   name="msgcode"/> <input type="button"
                                                                                           class="reg-get-pw sendmsg"
                                                                                           value="获取验证码"/> <span class="msg_contain"></span></li>
                        <li><span class="bt-sp">密码</span> <input type="password" name="password1" id="password1" class="reg-text w230" placeholder="请输入登录密码"/> <span
                                class="msg_contain"></span> <span class="complex_contain"></span></li>
                        <li><span class="bt-sp">确认密码</span> <input type="password" name="password2" id="password2"
                                                                   class="reg-text w230" placeholder="请再次输入登录密码"/> <span
                                class="msg_contain"></span></li>
                        <li></li>
                    </ul>
                    <input type="hidden" name="frmcode" value="171548f4d556e136730d1890d6211db8"/> <input type="hidden"
                                                                                                          name="regtype"
                                                                                                          value="phone"/>
                </form> <!--邮箱登陆-->
                <form id="emailfrm" method="post" action="http://www.zzaly.com/member/register/doreg">
                    <ul id="email_reg" style="display: none">
                        <li><span class="bt-sp">登录帐号</span> <input type="text" class="reg-text w230" id="email"
                                                                   name="email" placeholder="请输入邮箱帐号"/> <span
                                class="msg_contain"></span></li>
                        <li><span class="bt-sp">验证码</span> <input type="text" class="reg-text w105" id="e_checkcode"
                                                                  name="e_checkcode"/> <span class="reg-yzm"><img
                                src="../../../static/front_img/captcha.png" tppabs="http://www.zzaly.com/captcha"
                                onClick="this.src=this.src+'?math='+ Math.random()" width="114" height="31"/></span>
                            <span class="reg-change"><a href="javascript:;">换一张</a></span> <span
                                    class="msg_contain"></span></li>
                        <li><span class="bt-sp">密码</span> <input type="password" class="reg-text w230"
                                                                 name="e_password1" id="e_password1"
                                                                 placeholder="请输入登录密码"/> <span
                                class="msg_contain"></span> <span class="complex_contain"></span></li>
                        <li><span class="bt-sp">确认密码</span> <input type="password" name="e_password2" id="e_password2"
                                                                   class="reg-text w230" placeholder="请再次输入登录密码"/> <span
                                class="msg_contain"></span></li>
                        <li></li>
                        <input type="hidden" name="frmcode" value="171548f4d556e136730d1890d6211db8"/> <input
                            type="hidden" name="regtype" value="email"/></ul>
                </form>
                <div class="now-reg-btn"><a href="javascript:;">立即注册</a></div>
            </div>
            <div class="reg-tig-box"><p>已有账号，<a href="login.htm" tppabs="http://www.zzaly.com/member/login">立即登录</a></p>
                <dl>
                    <dt>使用其他方式登录</dt>
                    <dd><a class="qq qqlogin"
                           href="javascript:if(confirm(%27http://www.zzaly.com/plugins/login_qq/index/index/?refer=http%3A%2F%2Fwww.zzaly.com%2Fmember%2F  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/plugins/login_qq/index/index/?refer=http%3A%2F%2Fwww.zzaly.com%2Fmember%2F%27"
                           tppabs="http://www.zzaly.com/plugins/login_qq/index/index/?refer=http%3A%2F%2Fwww.zzaly.com%2Fmember%2F">QQ</a>
                        <a class="wb wblogin"
                           href="javascript:if(confirm(%27http://www.zzaly.com/plugins/login_weibo/index/index/?refer=http%3A%2F%2Fwww.zzaly.com%2Fmember%2F  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/plugins/login_weibo/index/index/?refer=http%3A%2F%2Fwww.zzaly.com%2Fmember%2F%27"
                           tppabs="http://www.zzaly.com/plugins/login_weibo/index/index/?refer=http%3A%2F%2Fwww.zzaly.com%2Fmember%2F">wb</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="regfrm" value="phonefrm"/> <input type="hidden" id="backurl"
                                                           value="http://www.zzaly.com/member/"/>
<script type="text/javascript" th:src="@{/static/front_js/-f=-res-js-layer-layer.js}"></script>
<script>
    $(function () {
        //注册
        $('.now-reg-btn').click(function () {
            var regfrm = $("#regfrm").val();
            $('#' + regfrm).submit()
        })
        //验证码刷新
        $('.reg-change').click(function () {
            $(this).parents('li').first().find('img').trigger('click');
        })
        //发送短信验证码
        $('.sendmsg').click(function () {
            var mobile = $("#mobile").val();
            var regPartton = /^1[3-8]+\d{9}$/;
            if (!regPartton.test(mobile)) {
                layer.alert('请输入正确的手机号码', {icon: 5});
                return false;
            }
            var pcode = $("#p_checkcode").val();
            if (pcode == '') {
                layer.alert('请填写验证码', {icon: 5});
                return false;
            }

            var bool = true;
            $.ajax({
                url: SITEURL + 'member/register/ajax_reg_checkmobile',
                type: "POST",
                async: false,
                cache: false,
                data: {mobile: mobile},
                dataType: 'text',
                success: function (msg) {
                    console.log(msg);
                    if (msg == 'false') {
                        bool = false;
                    }
                }
            });
            if (!bool) {
                layer.alert('手机号已经注册,请直接登录', {icon: 5});
                return false;
            }


            var t = this;
            t.disabled = true;
            //发送次数判断
            var sendnum = $.cookie('sendnum') ? $.cookie('sendnum') : 0;
            if (sendnum > 3) {
                layer.alert("验证码发送请求过于频繁,请过15分钟后再试", {icon: 5});
                return false;
            }
            if (sendnum != 0) {
                $.cookie('sendnum', sendnum++);
            } else {
                $.cookie('sendnum', 1, {expires: 1 / 96});
            }
            var token = "171548f4d556e136730d1890d6211db8";
            var url = SITEURL + 'member/register/ajax_send_msgcode';
            t.disabled = true;
            t.value = "发送中...";
            $.post(url, {mobile: mobile, token: token, pcode: pcode}, function (data) {
                t.value = "获取验证码";
                if (data.status) {
                    code_timeout(60);
                    return false;
                } else {
                    t.disabled = false;
                    layer.alert(data.msg, {icon: 5});
                    return false;
                }
            }, 'json');
        })
        //发送邮箱验证码
        $('.sendemail').click(function () {
            var email = $("#email").val();
            var regPartton = /^[a-zA-Z0-9.!#$%&amp;'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
            if (!regPartton.test(email)) {
                layer.alert('请输入正确的邮箱', {icon: 5});
                return false;
            }
            var pcode = $("#e_checkcode").val();
            if (pcode == '') {
                layer.alert('请填写验证码', {icon: 5});
                return false;
            }
            var t = this;
            t.disabled = true;
            var token = "171548f4d556e136730d1890d6211db8";
            var url = SITEURL + "member/register/ajax_send_emailcode";
            var sendnum = $.cookie('email_sendnum') ? $.cookie('email_sendnum') : 0;
            if (sendnum > 3) {
                layer.alert('验证码发送请求过于频繁,请过15分钟后再试', {icon: 5});
                t.disabled = false;
                return false;
            }
            if (sendnum != 0) {
                $.cookie('email_sendnum', sendnum++);
            } else {
                $.cookie('email_sendnum', 1, {expires: 1 / 96});
            }
            $.post(url, {email: email, token: token, pcode: pcode}, function (data) {
                if (data.status) {
                    email_code_timeout(60);
                    return false;
                } else {
                    t.disabled = false;
                    layer.alert(data.msg, {icon: 5});
                    return false;
                }
            }, 'json');
        });
        /*手机注册验证开始*/
        jQuery.validator.addMethod("mobile", function (value, element) {
            var pattern = /^1+\d{10}$/;
            return pattern.test(value);
        }, "请输入正确的手机号");
        $("#phonefrm").validate({
            rules: {
                'mobile': {
                    required: true,
                    mobile: true,
                    remote: {
                        url: SITEURL + 'member/register/ajax_reg_checkmobile',
                        type: 'post'
                    }
                },
                'password1': {
                    required: true,
                    minlength: 6
                },
                'password2': {
                    required: true,
                    equalTo: '#password1'
                },
                'p_checkcode': {
                    required: true,
                    remote: {
                        url: SITEURL + 'pub/ajax_check_code',
                        type: 'post',
                        data: {
                            checkcode: function () {
                                return $("#p_checkcode").val();
                            }
                        }
                    }
                },
                'msgcode': {
                    required: true,
                    remote: {
                        url: SITEURL + 'member/register/ajax_check_msgcode',
                        type: 'post',
                        data: {
                            mobile: function () {
                                return $("#mobile").val();
                            }
                        }
                    }
                },
                agreement: {
                    required: true
                }
            },
            messages: {
                'mobile': {
                    required: '手机号不能为空',
                    remote: '该手机号已被注册,您可以直接登陆'
                },
                'password1': {
                    required: '密码不能为空',
                    minlength: '密码不得小于6位'
                },
                'password2': {
                    required: '密码前后不一致',
                    equalTo: '密码前后不一致'
                },
                'p_checkcode': {
                    required: '验证码不能为空',
                    remote: '验证码错误'
                },
                'msgcode': {
                    required: '验证码不能为空',
                    remote: '验证码错误'
                },
                'agreement': {
                    required: '请先同意网站服务条款'
                }
            },
            errorPlacement: function (error, element) {
                $(element).parents('li:first').find('.msg_contain').html(error);
                $(element).parents('li:first').find('.msg_contain').addClass('reg-error-txt').removeClass('reg-pass-ico');
            },
            success: function (msg, element) {
                $(element).parents('li:first').find('.msg_contain').html('');
                $(element).parents('li:first').find('.msg_contain').addClass('reg-pass-ico').removeClass('reg-error-txt');
                if ($(element).is('#password1')) {
                    set_pwd_safe('#phonefrm', '#password1');
                }
            },
            onkeyup: function (element, event) {
                set_pwd_safe('#phonefrm', '#password1');
                $(element).valid();
            },
            submitHandler: function (form) {
                var frmdata = $("#phonefrm").serialize();
                $.ajax({
                    type: 'POST',
                    url: SITEURL + 'member/register/ajax_doreg',
                    data: frmdata,
                    dataType: 'json',
                    success: function (data) {
                        if (data.status) {
                            var url = $("#backurl").val();
                            $('body').append(data.js);//同步登陆js
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            })
                            setTimeout(function () {
                                window.open(url, '_self');
                            }, 500);
                        } else {
                            layer.msg(data.msg, {
                                icon: 5,
                                time: 1000
                            })
                        }
                    }
                })
            }
        });
        //邮箱注册验证
        $("#emailfrm").validate({
            rules: {
                'email': {
                    required: true,
                    email: true,
                    remote: {
                        url: SITEURL + 'member/register/ajax_check_email',
                        type: 'post'
                    }
                },
                'e_password1': {
                    required: true,
                    minlength: 6
                },
                'e_password2': {
                    required: true,
                    equalTo: '#e_password1'
                },
                'e_checkcode': {
                    required: true,
                    remote: {
                        url: SITEURL + 'pub/ajax_check_code',
                        type: 'post',
                        data: {
                            checkcode: function () {
                                return $("#e_checkcode").val();
                            }
                        }
                    }
                },
                e_email_code: {
                    required: true,
                    remote: {
                        url: SITEURL + 'member/register/ajax_check_email_code',
                        type: 'post',
                        data: {
                            email: function () {
                                return $("#email").val();
                            }
                        }
                    }
                },
                'e_agreement': {
                    required: true
                }
            },
            messages: {
                'email': {
                    required: '邮箱不能为空',
                    email: '邮箱格式错误',
                    remote: '<a>该邮箱已经被注册,您可以直接登陆</a>'
                },
                'e_password1': {
                    required: '密码不能为空',
                    minlength: '密码不得小于6位'
                },
                'e_password2': {
                    required: '密码前后不一致',
                    equalTo: '密码前后不一致'
                },
                'e_email_code': {
                    required: '邮箱验证码不能为空',
                    remote: '验证码错误'
                },
                'e_checkcode': {
                    required: '验证码不能为空',
                    remote: '验证码错误'
                },
                'e_agreement': {
                    required: '请先同意网站服务条款'
                }
            },
            errorPlacement: function (error, element) {
                $(element).parents('li:first').find('.msg_contain').html(error);
                $(element).parents('li:first').find('.msg_contain').addClass('reg-error-txt').removeClass('reg-pass-ico');
            },
            success: function (msg, element) {
                $(element).parents('li:first').find('.msg_contain').html('');
                $(element).parents('li:first').find('.msg_contain').addClass('reg-pass-ico').removeClass('reg-error-txt');
                if ($(element).is('#e_password1')) {
                    set_pwd_safe('#emailfrm', '#e_password1');
                }
            },
            onkeyup: function (element, event) {
                set_pwd_safe('#emailfrm', '#e_password1');
                $(element).valid();
            }
            ,
            submitHandler: function (form) {
                var frmdata = $("#emailfrm").serialize();
                $.ajax({
                    type: 'POST',
                    url: SITEURL + 'member/register/ajax_doreg',
                    data: frmdata,
                    dataType: 'json',
                    success: function (data) {
                        if (data.status) {
                            var url = $("#backurl").val();
                            $('body').append(data.js);//同步登陆js
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            })
                            setTimeout(function () {
                                window.open(url, '_self');
                            }, 500);
                        } else {
                            layer.msg(data.msg, {
                                icon: 5,
                                time: 1000
                            })
                        }
                    }
                })
            }
        });
    })

    //密码强度
    function set_pwd_safe(pselector, selector) {
        var pwd = $(pselector + ' ' + selector).val();
        var pattern_1 = /^[0-9]*$/i;
        var pattern_2 = /[a-z0-9]+/i;
        var obj = $(pselector).find('.complex_contain');
        var html = '';
        //弱
        if (pattern_1.test(pwd) &amp;&amp; pwd.length &lt; 8) {
            html = "<span class='reg-pw-intensity ruo'>弱</span>";
            obj.html(html);
            return false;
        }
        //中
        if (pattern_1.test(pwd) &amp;&amp; pwd.length &gt;= 8) {
            html = "<span class='reg-pw-intensity zhong'>中</span>";
            obj.html(html);
            return false;
        }
        //高
        if (pattern_2.test(pwd) &amp;&amp; pwd.length &gt;= 8) {
            html = "<span class='reg-pw-intensity gao'>高</span>";
            obj.html(html);
            return false;
        }
    }

    //短信发送倒计时
    function code_timeout(v) {
        if (v &gt; 0) {
            $('.sendmsg').val((--v) + '秒后重发');
            setTimeout(function () {
                code_timeout(v)
            }, 1000);
        } else {
            $('.sendmsg').val('重发验证码');
            $('.sendmsg').attr("disabled", false);
        }
    }

    //邮箱发送倒计时
    function email_code_timeout(v) {
        if (v &gt; 0) {
            $('.sendemail').val((--v) + '秒后重发');
            setTimeout(function () {
                email_code_timeout(v)
            }, 1000);
        } else {
            $('.sendemail').val('重发验证码');
            $('.sendemail')[0].disabled = false;
        }
    }
</script>
<link type="text/css" th:href="@{/static/front_css/-f=-usertpl-cl_st15578_m189_footer-css-footer.css}"  rel="stylesheet"/>
<div class="st-brand">
    <div class="wm-1200">
        <div class="st-serve">
            <dl class="ico01 bor_0">
                <dt></dt>
                <dd><em>阳光价格</em> <span>同类产品，保证低价</span></dd>
            </dl>
            <dl class="ico02">
                <dt></dt>
                <dd><em>阳光行程</em> <span>品质护航，透明公开</span></dd>
            </dl>
            <dl class="ico03">
                <dt></dt>
                <dd><em>阳光服务</em> <span>专属客服，快速响应</span></dd>
            </dl>
            <dl class="ico04">
                <dt></dt>
                <dd><em>救援保障</em> <span>途中意外，保证援助</span></dd>
            </dl>
        </div>
    </div>
</div> <!--品牌介绍-->
<script>
    $(function () {
        //主导航下拉
        $('.global_list').hover(function () {
            $(this).children('.itme').show()
        }, function () {
            $(this).children('.itme').hide()
        });
        //导航指向
        $(".top_web_map").hover(function () {
            $(".w_nav_map").show();
        }, function () {
            $(".w_nav_map").hide();
        });
        hoverCssChange();
        //自定义导航弹出
        $(".global_nav").hover(function () {
            $(".global_box").show()
        }, function () {
            $(".global_box").hide()
        });
        //首页焦点图
        $('.slidePicBox').slide({
            mainCell: ".bd ul",
            titCell: ".hd li",
            effect: "fold",
            interTime: 5000,
            delayTime: 1000,
            autoPlay: true
        });
    });

    function hoverCssChange() {
        //指向样式
        $(".bor_bag").mouseover(function () {
            $(this).css({
                "background": "#fff",
                "border-left": "1px solid #e6e5e5",
                "border-right": "1px solid #e6e5e5"
            });
            $(this).children(".web_nav_ico").css("background", "#fff")
        });
        $(".bor_bag").mouseout(function () {
            $(this).css({
                "background": "none",
                "border-left": "1px solid #f1f1f1",
                "border-right": "1px solid #f1f1f1"
            });
            $(this).children(".web_nav_ico").css("background", "#f1f1f1");
        })
    }
</script>
</body>
</html>
