<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link type="text/css" th:href="@{/static/front_css/-f=-res-css-base.css,-res-css-user.css,-res-css-extend.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/static/front_css/-f=-res-css-base.css,-res-css-extend.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/front_js/-f=-res-js-jquery.min.js,-res-js-base.js,-res-js-common.js}"></script>
</head>
<body>
<link type="text/css" th:href="@{/static/front_css/-f=-usertpl-cl_st15578_m189_header-css-header.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/static/front_js/-f=-res-js-SuperSlide.min.js}"></script>
<!-- 顶部介绍开始 -->
<div class="header-content">
    <div class="wm-1200">
        <div class="public-txt"><p><span
                style="font-family: 宋体, SimSun; font-size: 12px; color: rgb(192, 0, 0);"><strong>河南中州国际旅行</strong><strong>​</strong><strong>社有限公司，为您提供最专业的旅游服务，因为专注，所以专业。热线电话 18603838974</strong></span>
        </p></div>
        <div class="dh fr"><span id="loginstatus"> </span> <a class="fl" rel="nofollow"
                                                              href="javascript:if(confirm(%27http://www.zzaly.com/search/order  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/search/order%27"
                                                              target="_blank">订单查询</a> <a class="fl" rel="nofollow"
                                                                                          href="javascript:if(confirm(%27http://www.zzaly.com/servers/index_1.html  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/servers/index_1.html%27"
                                                                                          target="_blank">联系我们</a>
            <div class="top_web_map bor_bag fl">
                <dl class="dh"><a class="web_nav_ico" href="javascript:;"><s></s>网站导航</a>
                    <div class="w_nav_map"><a href="index.htm" tppabs="http://www.zzaly.com/lines/"
                                              target="_blank">线路</a> <a
                            href="javascript:if(confirm(%27http://www.zzaly.com/tuan/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/tuan/%27"
                            tppabs="http://www.zzaly.com/tuan/" target="_blank">团购</a> <a
                            href="javascript:if(confirm(%27http://www.zzaly.com/customize/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/customize/%27"
                            tppabs="http://www.zzaly.com/customize/" target="_blank">私人定制</a> <a
                            href="nazhoubianyou1.htm" tppabs="http://www.zzaly.com/lines/nazhoubianyou1"
                            target="_blank">河南地接</a> <a
                            href="javascript:if(confirm(%27http://www.zzaly.com/visa/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.zzaly.com/visa/%27"
                            tppabs="http://www.zzaly.com/visa/" target="_blank">签证</a> <a href="" target="_blank">毕业季，一起去撒欢</a>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
<!-- 顶部介绍结束 --> <!-- logo and search开始 -->
<div class="big">
    <div class="wm-1200">
        <div class="top_mt">
            <div class="logo"><a
                    href="javascript:void(0)"><img src="../../../static/front_img/6f904fff78610d2318afc112e673db28_298x85.png"
                                                   alt="中州爱旅游--河南中州国际旅行社"/></a></div>
            <div class="all_search">
                <div class="top_search"><input type="text" id="st-top-search" class="s_txt g_search searchkeyword"
                                               placeholder="输入目的地、酒店、攻略"/> <input
                        class="s_btn cloud_search st-btn" type="button" name="" value=""/>
                    <div class="searcg_hot"><span>热门搜索：</span> <a
                            href="javascript:void(0)" target="_blank">云南</a>
                        <a href="javascript:void(0)" target="_blank">西安</a>
                        <a href="javascript:void(0)"
                           target="_blank">普吉岛</a></div>
                </div>
                <div class="h_phone_num"><span>24小时客服电话：</span>
                    <p>18603838974</p></div>
            </div>
        </div>
    </div>
</div>
<!-- logo and search结束 --> <!-- 导航开始 -->
<div class="nav">
    <div class="menu">
        <div class="global_nav">
            <div class="global_tit">旅游导航</div>
            <div class="global_box">
                <div class="global_list">
                    <div class="tit_bt"><h3><a href=" " target="_blank">当季热卖<i></i></a></h3> <span>   <a
                            href="javascript:void(0)"
                            target="_blank"><span style='color:#FF6600'>呼伦贝尔</span></a>  <a
                            href="javascript:void(0)"
                            target="_blank"><span style='color:#FF6600'>鼓浪屿</span></a></span></div>
                    <div class="itme">
                        <dl>
                            <dt>
                                <a href="javascript:void(0)"
                                   target="_blank"><span style='color:#FF6600'>呼伦贝尔</span></a></dt>
                            <dd></dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="javascript:void(0)"
                                   target="_blank"><span style='color:#FF6600'>鼓浪屿</span></a></dt>
                            <dd></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_nav_list">
            <ul>
                <li>
                    <a href="users/tologin">首页</a></li>
                <li><a href="users/tologin"> 线路 <i class="st-hot-ico"></i><s></s> <i
                        class="st-arrow-ico"></i> </a></li>
                <li>
                    <a href="javascript:void(0)"> 团购 <i class="st-jian-ico"></i><s></s> </a></li>
                <li>
                    <a href="javascript:void(0)"> 私人定制 </a></li>
                <li><a href="nazhoubianyou1.htm" tppabs="http://www.zzaly.com/lines/nazhoubianyou1"> 河南地接 <i
                        class="st-jing-ico"></i><s></s> <i class="st-arrow-ico"></i> </a></li>
                <li>
                    <a href="javascript:void(0)"> 签证 <i class="st-hot-ico"></i><s></s> <i
                            class="st-arrow-ico"></i> </a></li>
                <li><a href=""> 毕业季，一起去撒欢 <i class="st-hot-ico"></i><s></s> </a></li>
            </ul>
        </div>
    </div>
</div>
<!---->
<div class="big">
    <div class="wm-1200">
        <div class="st-guide"><a href="/">首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;全部订单</div><!--面包屑-->
        <div class="st-main-page">
            <div class="user-side-menu">
                <ul>
                    <li><a id="nav_index" href="/member"><i class="st-user-icon user-home-icon"></i>会员首页</a></li>
                    <li><a class="side-menu-group" href="javascript:;"> <i class="st-user-icon user-order-icon"></i>我的订单<i
                            class="arrow-icon"></i> </a>
                        <div class="son"><a id="nav_allorder" href="/member/order/all">全部订单</a> <a id="nav_hotelorder"
                                                                                                   href="/member/order/plugin_list?typeid=2">酒店订单</a>
                            <a id="nav_lineorder" href="/member/order/plugin_list?typeid=1">线路订单</a> <a
                                    id="nav_tuanorder" href="/member/order/plugin_list?typeid=13">团购订单</a> <a
                                    id="nav_visaorder" href="/member/order/plugin_list?typeid=8">签证订单</a> <a
                                    id="nav_spotorder" href="/member/order/plugin_list?typeid=5">景点门票订单</a> <a
                                    id="nav_carorder" href="/member/order/plugin_list?typeid=3">租车订单</a></div>
                    </li>
                    <li><a id="nav_mynotes" href="/notes/member/mynotes"><i
                            class="st-user-icon user-yj-icon"></i>我的游记</a></li>
                    <li><a id="nav_myjieban" href="/jieban/member/"><i class="st-user-icon user-jb-icon"></i>我的结伴</a>
                    </li>
                    <li><a id="nav_myquestion" href="/member/index/myquestion"><i class="st-user-icon user-zx-icon"></i>我的咨询</a>
                    </li>
                    <li><a id="nav_myjifen" href="/member/club/score"><i class="st-user-icon user-jf-icon"></i>我的积分</a>
                    </li>
                    <li><a id="nav_money" href="/member/bag/index"><i class="st-user-icon user-qb-icon"></i>我的钱包</a>
                    </li>
                    <li><a class="side-menu-group" href="javascript:;"> <i class="st-user-icon user-center-icon"></i>个人中心<i
                            class="arrow-icon"></i> </a>
                        <div class="son"><a id="nav_userinfo" href="/member/index/userinfo">个人资料</a> <a
                                id="nav_safecenter" href="/member/index/safecenter">账号安全</a> <a id="nav_userbind"
                                                                                                href="/member/index/userbind">账号绑定</a>
                            <a id="nav_consignees_address" href="/member/index/address">收货地址</a></div>
                    </li>
                    <li><a href="/member/index/linkman" id="nav_linkman"><i class="st-user-icon user-msg-icon"></i>常用旅客</a>
                    </li>
                </ul>
            </div>
            <script>
                $(function () {
                    $(".side-menu-group").on("click", function () {
                        if (!$(this).hasClass("up")) {
                            $(this).addClass("up").next(".son").addClass("hide");
                        } else {
                            $(this).removeClass("up").next(".son").removeClass("hide");
                        }
                    })
                })
            </script>
            <div class="user-order-box">
                <div class="user-home-box">
                    <div class="tabnav"><span class="on" data-type="all">全部订单</span> <span
                            data-type="unpay">未付款订单</span> <span data-type="uncomment">未点评订单</span></div><!-- 订单切换 -->
                    <div class="user-home-order">
                        <div class="order-no-have"><span></span>
                            <p>没有查到相关订单信息，<a href="/" target="_blank">去逛逛</a>去哪儿玩吧！</p></div>
                    </div><!-- 我的订单 --> </div>
            </div><!--所有订单--> </div>
    </div>
</div>
<link type="text/css" th:href="@{/static/front_css/-f=-usertpl-cl_st15578_m189_footer-css-footer.css}" rel="stylesheet"/>
<div class="st-brand">
    <div class="wm-1200">
        <div class="st-serve">
            <dl class="ico01 bor_0">
                <dt></dt>
                <dd><em>阳光价格</em> <span>同类产品，保证低价</span></dd>
            </dl>
            <dl class="ico02">
                <dt></dt>
                <dd><em>阳光行程</em> <span>品质护航，透明公开</span></dd>
            </dl>
            <dl class="ico03">
                <dt></dt>
                <dd><em>阳光服务</em> <span>专属客服，快速响应</span></dd>
            </dl>
            <dl class="ico04">
                <dt></dt>
                <dd><em>救援保障</em> <span>途中意外，保证援助</span></dd>
            </dl>
        </div>
    </div>
</div> <!--品牌介绍-->
<script>
    $(function () {
        //主导航下拉
        $('.global_list').hover(function () {
            $(this).children('.itme').show()
        }, function () {
            $(this).children('.itme').hide()
        });
        //导航指向
        $(".top_web_map").hover(function () {
            $(".w_nav_map").show();
        }, function () {
            $(".w_nav_map").hide();
        });
        hoverCssChange();
        //自定义导航弹出
        $(".global_nav").hover(function () {
            $(".global_box").show()
        }, function () {
            $(".global_box").hide()
        });
        //首页焦点图
        $('.slidePicBox').slide({
            mainCell: ".bd ul",
            titCell: ".hd li",
            effect: "fold",
            interTime: 5000,
            delayTime: 1000,
            autoPlay: true
        });
    });

    function hoverCssChange() {
        //指向样式
        $(".bor_bag").mouseover(function () {
            $(this).css({
                "background": "#fff",
                "border-left": "1px solid #e6e5e5",
                "border-right": "1px solid #e6e5e5"
            });
            $(this).children(".web_nav_ico").css("background", "#fff")
        });
        $(".bor_bag").mouseout(function () {
            $(this).css({
                "background": "none",
                "border-left": "1px solid #f1f1f1",
                "border-right": "1px solid #f1f1f1"
            });
            $(this).children(".web_nav_ico").css("background", "#f1f1f1");
        })
    }
</script>
<script type="text/javascript" th:src="@{/static/front_js/layer.js}"></script>
<script>
    $(function () {
        //导航选中
        $('#nav_allorder').addClass('on');
        //订单类型切换
        $(".tabnav span").click(function () {
            var orderType = $(this).attr('data-type');
            var url = SITEURL + 'member/order/all-' + orderType;
            window.location.href = url;
        })
    })
</script> <!--订单中心用的js事件-->
<script>
    $(function () {
        //取消订单
        $(".cancel_order").click(function () {
            var orderid = $(this).attr('data-orderid');
            var url = SITEURL + 'member/order/ajax_order_cancel';
            layer.confirm('确定取消订单吗？', {
                icon: 3,
                btn: ['放弃', '确定'], //按钮
                btn1: function () {
                    layer.closeAll();
                },
                btn2: function () {
                    $.getJSON(url, {orderid: orderid}, function (data) {
                        if (data.status) {
                            layer.msg('取消订单成功', {icon: 6, time: 1000});
                            setTimeout(function () {
                                location.reload()
                            }, 1000);
                        } else {
                            layer.msg('取消订单失败', {icon: 5, time: 1000});
                        }
                    })
                },
                cancel: function () {
                    layer.closeAll();
                }
            })
        })
    })
</script>
</body>
</html>
